page-student-add {
  .button {
    margin-top: 30px;
  }
}

/*
.status {
  border: 2px solid;
  border-radius: 1px;
  display: none;
  font-size: 20px;
  margin-right: 10%;
  margin-left: 10%;
  margin-bottom: 5%;
  padding: 15px;
  border-radius: 3px 3px 3px 3px;
}

.error { 
  color: crimson;
  background-color: lightsalmon;
  border-color: crimson;
  display: block;
}

.correct {
  color: limegreen;
  background-color: lightgreen;
  border-color: limegreen;
  display: block;
}
*/