$marginInputs: 20%;

page-home {

  #login-input {
    margin-top: 20%;
    margin-bottom: 10%;

    ion-input {
      margin-left: 50%;
      background-color: snow;
      width: 80%;
      margin-bottom: 10px;
      height: 5%;
      font-size: 20px;
      color: dimgray;
      box-shadow: 2px 2px 3px gray;
      transform: translateX(-50%);
    }

    .button {
      font-size: 19px;
      width: 50%;
      height: 50px;
      transform: translateX(50%);
    }
  }
}

