page-home {

    ion-content {
        text-align: center
    }

    ion-input {
        width: 50%;
    }
    
}


#div-title{

    font-size: 25px;
    color: #f4f4f4;
    background: #488aff;
    text-align: center;
    height: 50px;
    box-shadow: 0px 0px 10px black;
}

.center {
    padding: 40%;
}



