$marginInputs: 20%;
page-home {
  ion-header {
    height: $headerHeight;
  }
  ion-navbar {
    height: 100%;
  }
  ion-content {
    margin-top: $headerHeight;
  }
}
#error {
  border: 2px solid;
  border-radius: 1px;
  color: crimson;
  background-color: lightsalmon;
  border-color: crimson;
  font-size: 20px;
  margin-right: 10%;
  margin-left: 10%;
  padding: 15px;
  top: calc($marginInputs + 30%);
  border-radius: 3px 3px 3px 3px;
}
#input {
  margin-top: $marginInputs;
  width: 200px;
  height: 200px;
  font-size: 20px;
  margin-left: 20%;
  margin-right: 20%;
}
