page-backoffice-menu {

}
.col{

}
.b{
  width: 50%;
  padding: 10px;
  margin-bottom: 30%;
}

.a{
  padding: 20px;
  text-align: center;
  color: steelblue;
  zoom:2;
}

.button{
  width: 70%;
  padding:16px;
}

/*.b{

}

.c{
  left: 50px;
}*/
