page-backoffice-menu {

}


/*
.row {
  height: 25%;
}


.icon{
  text-align: center;
  color: steelblue;
  zoom:2;
  display: block;
}

.button {
  display: block;
  width: 100%;
  padding:16px;
}

.grid {
  height: calc(3 * 25%);
}
*/