// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

ion-header {
    height: $headerHeight;
}

.toolbar-background {
    background-color: steelblue;

}

ion-title {

    height: 100%;

    .toolbar-title {
        font-size: 30px;
        color: white;
        padding: 0px !important;
        
    }
}
ion-navbar {

    height: 100%;
}

ion-footer {

    height: $footerHeight;
    background-color: steelblue
}

.button {
    background-color: steelblue;
}

table#calendar {

    tr {
        height: 40px;
    }

    td {
        width: 60px;
    }
    td.currentDay {
        background-color: #70B0E5;
    }

    tr.month {
        background-color: steelblue;
        color: white;
    }

    td.noDay {
        color: lightgrey;
    }

    td:active {
        background-color: lightskyblue;
    }
}

