page-student-search {

}

div#by {
    
    ion-select {
        padding-top: 7px;
        padding-bottom: 0px !important;
        height: 35px;
        transform: translate(60%);
        border-radius: 5px 5px;
        border: 2px solid steelblue;
        color: dimgray;
    }

    margin-bottom: 5px;
}


div#search {
    height: 35px;
    width: 70%;
    display: flex;
    border: 2px solid steelblue;
    border-radius: 5px 5px;
    right: 50%;
    transform: translate(21%); 
    margin-bottom: 10px;

    div#text {
        flex: 4;
        height: 100%;
        width: 100%;
        border-right: 1px solid steelblue;
        color: dimgray;

        .text-input {
            margin: 0px !important;
            height: 100%;
            width: 100%;
            font-size: 25px;
        }
    }

    div#icon {
        flex: 1;
        height: 100%;
        width: 100%;
        border-left: 1px solid steelblue;

        .icon {
            color: steelblue !important;
            zoom: 1;
        }
    }

    div#icon:active {
        background-color: steelblue;
        .icon {
            color: white !important;
        }
    }
}



table.list {
    width: 100%;
    tr.legend {
        border: 1px solid white;
        height: 35px;

        th {
            border: 1px solid white;
            background-color: steelblue;
            color: white;
        }
    }

    tr.info {
        height: 35px;
        border: 1px solid white;
        border-bottom: 1px solid steelblue;

        td {
            border: none;
            color: dimgray;
            text-align: left;
            padding-left: 5px;

        }

        td.click {
            background-color: steelblue;
            text-align: center;
            padding: 0px;
            color: white;
        }

        td.click:active {
            background-color: lightsteelblue;
        }

        
    }


}
